.footer
  .footer_nav
    .footer_nav_about_merc
    メルカリについて
    .footer_nav_help_guide
    ヘルプ&ガイド
    .footer_nav_privacy
    プライバシーと利用規約
    .footer_nav_country
    国
  .footer_comarce
  © Mercari, Inc. 