.header
  .header_nav
    .header_nav_upper
      .header_nav_upper_logo
        メルカリ
      .header_nav_upper_input
        何かお探しですか?
    .header_nav_under
      .header_nav_under_right
        .header_nav_under_right_categories_find_btn
          カテゴリーから探す
        .header_nav_under_right_brand_find_btn
          ブランドから探す
      .header_nav_under_left
        .header_nav_under_left_new_register_btn
          新規登録
        .header_nav_under_left_login_btn
          ログイン