.content
  .content_nav

    .content_nav_slide

    .content_nav_categories
      .content_nav_categories_name
        人気のカテゴリー
      .content_nav_categories_item
        .content_nav_categories_1
          レディース
        .content_nav_categories_2
          メンズ
        .content_nav_categories_3
          家電・スマホ・カメラ
        .content_nav_categories_4
          おもちゃ・ホビー・グッズ

    .content_nav_categories_new
      .content_nav_categories_new_item
        .content_nav_categories_new_1
          レディース新着アイテム
          .more_find_btn
          もっとみる
        .content_nav_categories_new_item_desplay
        □
        .content_nav_categories_new_2
          メンズ新着アイテム
          .more_find_btn
          もっとみる
        .content_nav_categories_new_item_desplay
        □
        .content_nav_categories_new_3
          家電・スマホ・カメラ新着アイテム
          .more_find_btn
          もっとみる
        .content_nav_categories_new_item_desplay
        □
        .content_nav_categories_new_item_4
          おもちゃ・ホビー・グッズ新着アイテム
          .more_find_btn
          もっとみる
        .content_nav_categories_new_item_desplay
        □


    .content_nav_bland
      .content_nav_bland_name
        人気のブランド
      .content_nav_bland_item
        .content_nav_bland_item_1
          シャネル
        .content_nav_bland_item_2
          ルイウィトン
        .content_nav_bland_item_3
          シュプール
        .content_nav_bland_item_4
          ナイキ

    .content_nav_bland_new
    .content_nav_bland_new_item
      .content_nav_bland_new_item_name_1
        シャネル新着アイテム
        .more_find_btn
        もっとみる
      .content_nav_bland_new_item_desplay
      □
      .content_nav_bland_new_item_name_2
        ルイヴィトン新着アイテム
        .more_find_btn
        もっとみる
      .content_nav_bland_new_item_desplay
      □   
      .content_nav_bland_new_item_name_1
        シュプール新着アイテム
        .more_find_btn
        もっとみる
      .content_nav_bland_new_item_desplay
      □
      .content_nav_bland_new_item_name_2
        ナイキ新着アイテム
        .more_find_btn
        もっとみる
      .content_nav_bland_new_item_desplay
      □   

  