<<<<<<< HEAD
.main-wrapper
  .main-wrapper__contents
    .contents__Notice
      =link_to 'お知らせ'
      -# //.slider
        -# //.slider
          %ul.slider-list
            %li.slider-slide
              =link_to 'スライド'
            %li.slider-slide__wrapper
              .warapper__content
                =img_tag 'スマホイメージ画像'
                .contents
                .content__text 'スマホでかんたん' %br 'フリマアプリ'
                %p.text 'メルカリはスマホカメラからすぐ出品できる' %br '購入時も安心な独自システムです'
                .app__img
                  =link_to '#'
                  =img_tag 'APP Store'
                .android__img
                  =link_to '#'
                  =img_tag 'Android'
          .slider-corsol-left
            =faicon '#'
          .slider-corsol-right
            =faicon '#'        
          .slider-position
            =faicon '#'
    //人気のカテゴリー
    .category-wrapper
      %h2
        人気のカテゴリー
      .category-wrapper__nav
        %ul.nav__list
          %li
            =link_to 'レディース'
          %li
            =link_to 'メンズ'
          %li
            =link_to '家電・スマホ・カメラ・'
          %li
            =link_to 'おもちゃ・ホビー・グッズ'
            
    .new-items__wrapper
      .wrapper__contents-first
        .contents-first__name
          %h3
            'レディース新着アイテム'
          =link_to 'もっと見る'
          -# =faicon 'fa-chevron-right'
        .contents-first__goods
          %ul.goods__list
            %li
              =link_to '商品1'
            %li
              =link_to '商品2'
            %li
              =link_to '商品3'
            %li
              =link_to '商品4'
            %li
              =link_to '商品5'
            %li
              =link_to '商品6'
            %li
              =link_to '商品7'
            %li
              =link_to '商品8'
            %li
              =link_to '商品9'
            %li
              =link_to '商品10'


    //人気のブランド
    .bland-wrapper
      %h2
        人気のブランド
      .bland-wrapper__nav
        %ul.nav__list
          %li
            =link_to 'シャネル'
          %li
            =link_to 'ルイヴィトン'
          %li
            =link_to 'シュプリーム'
          %li
            =link_to 'ナイキ'
    .new-items__wrapper
      .wrapper__contents-first
        .contents-first__name
          %h3
            'シャネル新着アイテム'
          =link_to 'もっと見る'
          -# =faicon 'fa-chevron-right'
        .contents-first__goods
          %ul.goods__list
            %li
              =link_to '商品1'
            %li
              =link_to '商品2'
            %li
              =link_to '商品3'
            %li
              =link_to '商品4'
            %li
              =link_to '商品5'
            %li
              =link_to '商品6'
            %li
              =link_to '商品7'
            %li
              =link_to '商品8'
            %li
              =link_to '商品9'
            %li
              =link_to '商品10'
