.p-login-main {
  width: 100%;
  background: rgb(245, 245,245);
}
.p-login-user {
  max-width: 456px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 14px;
  &__account {
    padding: 40px 64px;
    text-align: center;
    &--link {
      display: block;
      margin: 8px 0 0;
      border: 1px #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
      text-decoration: none;
    }
  }
  &__inner {
    padding: 32px 64px;
    border-top: 1px solid #eef6fa;
    &--btn {
      line-height: 48px;
      text-align: center;
      .facebook-login {
        background: #385185;
        color: #fff;
        border: 1px solid;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        .fa-facebook-square:before {
          font-size: 35px;
          position: absolute;
          top: 50%;
          left: 16px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }
      .google-login {
        margin: 16px 0 0;
        background: #fff;
        color: #333;
        border: #979797 solid 1px;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        .fa-google:before {
          font-size: 20px;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 25px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }
    }
  }
}
.p-login-form {
  padding: 24px 64px 32px;
  &__group {
    width: 100%;
    .mail {
      padding-left: 10px;
      width: 100%;
      height: 48px;
      border-radius: 4px;
    }
    .password {
      padding-left: 10px;
      width: 100%;
      margin: 24px 0 0;
      height: 48px;
      border-radius: 4px;
    }
  }
  &__g-recaptcha {
    width: 304px;
    height: 78px;
    margin: 24px 0 0;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
  }
  &__submit {
    margin: 24px 0 0;
    &--btn {
      background: #ea352d;
      border: 1px #ea352d;
      color: #fff;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
    }
    &--help {
      margin: 40px 0 0;
      color: #0099e8;
      text-decoration: none;
    }
  }
}