.p-number {
  .p-number-container {
    margin: 0 auto;
    width: 700px;
    background-color: #fff;
    .p-number-header {
      font-size: 22px;
      padding: 32px;
      line-height: 1.4;
      text-align: center;
      font-weight: bold;
    }
  }
}
.p-number-forms {
  padding: 24px 16px 40px;
  border-top: 1px solid #f5f5f5;
  .p-number-content {
    max-width: 343px;
    margin: 0 auto;
    .p-number-form {
      font-weight: 600;
      touch-action: manipulation;
      font-size: 14px;
    }
    input {
      padding: 10px 16px 8px;
      width: 100%;
      margin: 8px 0 0;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    p {
      margin: 8px 0 0;
      font-size: 14px;
    }
  }
}
.p-number-btn {
  &__sns {
    background: #ea352d;
    border: 1px #ea352d;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    margin: 32px 0 0;
  }
  a {
    color: #fff;
    text-decoration-line: none;
    line-height: 48px;
  }
}
.p-number-confirmation {
  margin: 40px 0 0;
  text-align: right;
  font-size: 14px;
  a {
    text-decoration: none;
    color: #0099e8;
  }
}