.profile-contents
  width: 80%
  height: 550px
  background-color: white

.profileTitle
  text-align: center
  height: 50px
  line-height: 50px
  font-size: 25px
  font-weight: bold

.profileImage
  background-color: #cde8ff
  height: 155px
  .profileImage__icon
    display: flex
    justify-content: center
    .profileImage__icon--user
      width: 60px
      height: 60px
      border-radius: 50%
      background-color: rgb(245, 245, 245)
      margin: 0
      margin-top: 72px
    .profileImage__icon--name
      height: 60px
      color: black
      margin-top: 72px
      margin-left: 10px
      line-height: 60px
      #nick_name
        height: 60px
        padding: 15px

.profileMessage
  height: 550px
  .profileMessage__text
    width: 650px
    height: 200px
    margin: auto
    margin-top: 40px
    #profile
      padding: 10px
      width: 650px
      height: 200px
  .profileMessage__btn
  .changeProfileBtn
    display: flex
    justify-content: center
    background-color: red
    width: 650px
    height: 50px
    margin: auto
    margin-top: 20px
    color: white

