= render './shared/sub-header'
.mypage-wrapper
  = render './shared/sideBar'
  .mypage-contents
    .mypageUser
      .mypageUser__icon
      .mypageUser__name
        #{@user.nick_name}
      .mypageUser__evaluation
        評価 0  出品数 0
    .mypageNews
      .mypageNews__tab.isMypageButton
        お知らせ
        .mypageNews__content
      .mypageNews__tab
        やることリスト
        .mypageNews__content
    .mypagePurchase-title
      購入した商品
    .mypagePurchase
      .mypagePurchase__tab.isMypageButton
        取引中
      .mypagePurchase__tab
        過去の取引
= render './shared/sub-footer'
