= render "./shared/header"
.mypage-wrapper
  = render './shared/sideBar'
  .mypage-contents
    .l-logout__block
      .l-logout__inner
        .p-inner__block
          - if user_signed_in? then
            = link_to 'ログアウト', destroy_user_session_path , method: :delete , class: 'btn-default p-btn__red' ,id: 'logout-btn'
= render './shared/footer'

