%aside.l-visible-publicity
  .l-visible-publicity-inner
    = link_to root_path,class: 'l-visible-publicity-link u-deco-none' do
      = image_tag(asset_path('fakelogo-color.svg'),class: 'l-visible-publicity-img')
      .l-visible-publicity-com1
        スマホでかんたんフリマアプリ
        .l-visible-publicity-com2
          今すぐ無料ダウンロード!