%nav.l-visible-block
  = link_to root_path, class: 'l-visible-link u-deco-none' do
    = fa_icon 'list',class: 'l-visible-icon'
    %span カテゴリーから探す
  = link_to root_path, class: 'l-visible-link u-deco-none' do
    = fa_icon 'tag',class: 'l-visible-icon'
    %span ブランドから探す