.footer__wrapper 
  background-color: rgb(34, 34, 34)
  color: rgb(255, 255, 255)
  padding: 0 20px 10px 20px
  font-weight: 500
  font-family: $font--basic
  a
    color: #fff
    font-size: 12px
    line-height: 1.5em

.footer-nav
  //以下footerメルカリについて
  &__block:first-child
    padding: 0 10px 0 0
  &__block.two-block
    width: 100%
    margin: 30px 0 0
    padding: 0
  &__block
    margin-top: 18px
    width: 50%
    display: block
    padding-left: 10px
    float: left
    &--title
      @include font
    li:first-child
      margin: 16px 0 0
    li
      margin-top: 14px
      font-size: 14px
      font-family: $font--basic
    .icon
      display: inline-block
      a
        opacity: 1
      i
        margin: 16px 18px 0 0
      .fa-twitter
        font-size: 32px
      .fa-facebook-square
        font-size: 32px
    a
      text-decoration: none 
      opacity: 0.7
      cursor: pointer
      line-height: 1.5em
    a:hover
      text-decoration: underline
    &--list:first-of-type
      padding: 0 10px 0 0
    &--list
      float: left
      padding-left: 10px
      vertical-align: top
      width: 50%


.footer-nav
  &__country
    margin-top: 35px
    padding: 0
    ul
      li
        display: inline-block
        padding-right: 30px

.footer-copyright
  margin: 50px auto 0
  a:hover
    opacity: 0.7
  &__logo
    display: inline-block
    margin-right: 10px
    height: 31px
    width: auto
    vertical-align: sub
  &__sign
    display: inline-block
    margin: 8px 0 0
    text-align: center
    vertical-align: super
    font-size: 14px
    small
      font-size: 12px
      font-family: $font--basic

@media screen and (min-width: 1068px) 
  .footer__wrapper 
    nav
      .footer-nav
        &__block:first-child
          padding: 0 20px 0 0
          width: 20%
        &__block.two-block
          margin-top: 18px
          padding: 0 40px 0 0
          width: 42%
        &__block
          width: 23%
          padding: 0 40px 0 0
          vertical-align: top
        &__country
          margin-top: 18px
          li
            display: block

@media screen and (min-width: 768px)
  .footer__wrapper 
    nav
      width: 768px
      margin: 0 auto

@media screen and (min-width: 1068px) 
  .footer__wrapper 
    nav
      width: 1020px

@media screen and (min-width: 768px)
  .footer__wrapper 
    nav
      .footer-nav
        &__country
          width: auto
  .footer-copyright
    width: 700px 
  
@media screen and (min-width: 1068px) 
  .footer-nav
    &__country
      margin-top: 18px
      li
        display: block
  .footer-copyright
    margin: 30px auto 20px
    width: 1020px
    &__sign
      width: 745px
 

