@media screen and (min-width: 768px)
  .footer-copyright
    width: 700px 

@media screen and (min-width: 1068px) 
  .footer-copyright
    margin: 30px auto 20px
    width: 1020px
    &__sign
      width: 745px
  
.Publicity-wrapper
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?88754945")
  height: 260px
  background-size: cover
  .Publicity
    display: flex
    justify-content: space-between
    margin-left: 350px
    margin-right: 350px
    &__left-text
      justify-content: center
      &--upper
        color: rgb(255, 255, 255)
        font-size: 24px
        font-weight: 600
        margin-bottom: 15px
        margin-top: 40px
        font-family: $font--basic
      &--lower
        color: rgb(255, 255, 255)
        font-size: 34px
        font-weight: 600
        margin-bottom: 15px
        font-weight: normal
        font-family: $font--basic
      .left__app-images
        display: flex
        justify-content: space-between
        line-height: 100px
.footer__wrapper 
  background-color: rgb(34, 34, 34)
  color: rgb(255, 255, 255)
  padding: 0 20px 10px 20px
  font-weight: 500
  font-family: $font--basic
  a
    color: #fff
    font-size: 12px
    line-height: 1.5em
  .footer-nav
    width: 1020px
    margin: 0 auto
    display: flex
    //以下footerメルカリについて
    &__block:first-child
      width: 20%
      padding: 0 20px 0 0
    &__block.two-block
      padding: 0 40px 0 0
      width: 42%
    &__block
      margin-top: 18px
      width: 23%
      padding: 0 40px 0 0
      vertical-align: top
      display: block
      float: left
      margin-top: 18px
      &--title
        @include font
      &--list
        li
          margin-top: 16px
          font-size: 12px
          font-family: $font--basic
          a
            color: rgb(255, 255, 255)
            text-decoration: none 
            opacity: 0.7
            cursor: pointer
            line-height: 1.5em
          a:hover
            text-decoration: underline
        .icon
          color: rgb(255, 255, 255)
          margin-top: 20px
          margin-right: 15px
          font-size: 20px
          i
            margin-right: 10px
          a
            color: rgb(255, 255, 255)
            text-decoration: none 
            cursor: pointer
          a:hover
            text-decoration: underline
      // .footer-nav__list
      //   display: flex
      //   justify-content: center
      //   &--left
      //     width: 207px
      //     padding: 0 10px 0 0 
      //     li
      //       margin-top: 16px
      //       font-size: 12px
      //       a 
      //         color: rgb(255, 255, 255)
      //         font-family: $font--basic
      //         text-decoration: none 
      //         opacity: 0.7
      //         cursor: pointer
      //       a:hover
      //         text-decoration: underline
      //   &--right
      //     padding: 0 0 0 10px
      //     width: 80% 
      //     li 
      //       margin-top: 10px
      //       font-size: 12px
      //       a 
      //         opacity: 0.7
      //         font-family: $font--basic
      //         color: rgb(255, 255, 255)
      //         text-decoration: none 
      //         cursor: pointer
      //       a:hover
      //         text-decoration: underline
    //以下footerプライバシーと利用規約部分

      &--title
        @include font
      .footer-nav__list
        display: flex
        justify-content: center
        &--left
          width: 207px
          padding: 0 10px 0 0 
          li
            margin-top: 16px
            font-size: 12px
            a 
              color: rgb(255, 255, 255)
              font-family: $font--basic
              text-decoration: none 
              opacity: 0.7
              cursor: pointer
            a:hover
              text-decoration: underline
        &--right
          padding: 0 0 0 10px
          width: 80% 
          li 
            margin-top: 10px
            font-size: 12px
            a 
              opacity: 0.7
              font-family: $font--basic
              color: rgb(255, 255, 255)
              text-decoration: none 
              cursor: pointer
            a:hover
              text-decoration: underline
    //以下footer国部分
    &__block
      &--title
        @include font
      &--country
        margin-right: 30px
        li
          margin-top: 10px
          font-size: 12px
          a
            color: rgb(255, 255, 255)
            text-decoration: none 
            cursor: pointer
            opacity: 0.7
            font-family: $font--basic
          a:hover
            text-decoration: underline
  .footer-copyright
    margin: 30px auto 20px
    &__logo
      display: inline-block
      margin-right: 10px
      width: auto
    &__sign
      display: inline-block
      margin: 8px 0 0
      text-align: center
      vertical-align: super
      font-size: 14px
      small
        font-size: 12px
        font-family: $font--basic