.sideBar-wrapper
  display: block
  margin-bottom: 50px
  // スマホ対応するなら必要
  @media (max-width: 1060px)
    display: none

.sideBar
  width: 280px
  background-color: white
  margin-right: 40px
  ul:hover
    background-color: #eee
    .fa-angle-right
      font-size: 20px
      transform: translateX(7px)
      transition: 0.4s
      transition-delay: 0.05s
      color: black
      font-weight: bold

  ul
    margin: 0
    display: flex
    justify-content: space-between
    a
      width: 100%
      height: 100%
      font-size: 14px
      text-decoration: none
      color: black
      padding: 15px
    .fa-angle-right
      margin-right: 25px
      margin-top: 15px
      color: gray
    .fa-angle-right:hover
      font-size: 20px
      transform: translateX(10px)
      color: black
      font-weight: bold
  &__icon
    text-align: end
  &__item
    display: flex
    justify-content: space-between
  &__title
    height: 16px
    font-size: 17px

.isSideButton
  background-color: #eee
  font-weight: bold
