.main-wrapper
  .main-contents
    .main-contents__notice
      =image_tag("https://i0.wp.com/jp-news.mercari.com/wp-content/uploads/2020/01/blog_SNS.png?w=1200&ssl=1",size:"1073x390")
    //人気のカテゴリー
    .category
      %h2
      .category__title
        人気のカテゴリー
      .category__nav
        %ul.category__nav--list
          %li
            =link_to 'レディース'
          %li
            =link_to 'メンズ'
          %li
            =link_to '家電・スマホ・カメラ'
          %li
            =link_to 'おもちゃ・ホビー・グッズ'
    .new-items
      .category__new-items
        .category__new-items--title
          %h3
            レディース新着アイテム
        .category__new-items--more
          =link_to 'もっと見る'
          =fa_icon 'chevron-right'
      .category__new-goods
        %ul.category__new-goods--list
          %li
            =link_to '商品1'
          %li
            =link_to '商品2'
          %li
            =link_to '商品3'
          %li
            =link_to '商品4'
          %li
            =link_to '商品5'
          %li
            =link_to '商品6'
          %li
            =link_to '商品7'
          %li
            =link_to '商品8'
          %li
            =link_to '商品9'
          %li
            =link_to '商品10'
    //人気のブランド
    .bland
      %h2
      .bland__title
        人気のブランド
      .bland__nav
        %ul.bland__nav--list
          %li
            =link_to 'シャネル'
          %li
            =link_to 'ルイヴィトン'
          %li
            =link_to 'シュプリーム'
          %li
            =link_to 'ナイキ'
    .new-items
      .bland__new-items
        .bland__new-items--title
          %h3
            シャネル新着アイテム
        .bland__new-items--more
          =link_to 'もっと見る'
          =fa_icon 'chevron-right'
      .bland__new-goods
        %ul.bland__new-goods--list
          %li
            =link_to '商品1'
          %li
            =link_to '商品2'
          %li
            =link_to '商品3'
          %li
            =link_to '商品4'
          %li
            =link_to '商品5'
          %li
            =link_to '商品6'
          %li
            =link_to '商品7'
          %li
            =link_to '商品8'
          %li
            =link_to '商品9'
          %li
            =link_to '商品10'
