= render "./shared/header"
.cards-wrapper
  = render './shared/sideBar'
  .cards-contents
    .cardsInner
      .cardsInner__head
        支払い方法
      .cardsInner__under
        .name
          クレジットカード一覧
        .addcard
          -# .btn
          -#   =fa_icon 'credit-card'
          -#   =link_to 'クレジットカードを追加する',new_card_path	
          .btn
            =fa_icon 'credit-card'
            =link_to 'クレジットカードを追加する',mypage_card_create_path		

        .payinfo
          =link_to '支払い方法について＞'

= render './shared/sub-footer'