.footer__wrapper 
  background-color: rgb(34, 34, 34)
  .footer__nav 
    display: flex
    justify-content: center
    .nav__all h2 
      @include font
    .all__list 
      margin-right: 30px
      li 
        margin-top: 10px
        font-size: 10px
      .icon
        color: rgb(255, 255, 255)
        margin-top: 20px
        margin-right: 10px
      a 
        color: rgb(255, 255, 255)
        text-decoration: none 
        cursor: pointer
      a:hover
        text-decoration: underline
    .nav__big h2
      @include font
    .big__block
      display: flex
      margin-left: 10px
      .block__right-list
        width: 190px
        margin-right: 10px
        .right-list__inner
          width: 80% 
      .block__left-list
        width: 190px
        margin-right: 10px
        .right-left__inner
          width: 80% 
      li 
        margin-top: 10px
        font-size: 10px
        a 
          color: rgb(255, 255, 255)
          text-decoration: none 
          cursor: pointer
        a:hover
          text-decoration: underline
  .wrapper__lower-content
    display: flex
    justify-content: space-around
    .lower-content__log-white
      margin-left: 85px
      margin-top: 26px
    span
      line-height: 80px
      color: rgb(255, 255, 255)
      margin-right: 30rem
      font-size: small





