.header-wrapper{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
    z-index: 3;

  .header-wrapper__menu{
    width: 700px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    
    .menu__upper-nav{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;

      .upper-nav__logo{
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          height: 40px;
          margin-right: 45px;
        }
        .upper-nav__search{
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            line-height: 1.4em;
            position: relative;
            width: 100%;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            padding: 0px 50px 0px 10px;
            transition: all 0.3s ease-out 0s;
        }
    }

    .menu__lower-nav{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 8px;

      .lower-nav__contents-search{
        display: flex;
        margin-left: -3px;

        .contents-search__category-list{
        padding-left: 0px;
        cursor: pointer;
        height: 44px;
        position: relative;
        z-index: 3;
        padding: 0px 10px
        }
        .contents-search__brand-list{
        padding-left: 0px;
        cursor: pointer;
        height: 44px;
        position: relative;
        z-index: 3;
        padding: 0px 10px
        }
      }
      .lower-nav__contents {
        display: flex;
        text-align: center;
        margin-left: 11px;

      }
    }
  }
}