.content{
  padding: 0px;
  
  .content_nav_slide{
    height: 290px;
    width: 800px;
    margin: 0px;
  }
  .content_nav{
    position: relative;
    margin:0px 170px 0px;

    
    .content_nav_categories{
      padding: 56px 0px 30px;

      .content_nav_categories_name{
        margin-bottom: 16px;
        text-align: center;
     
      }

      .content_nav_categories_item{
        display: block;
        text-align: center;
        width: 100%;
        margin: -10px 0px 0px -10px;
        
        .content_nav_categories_1{

        }
        .content_nav_categories_2 {
       

        }
        .content_nav_categories_3{
          
        }
        .content_nav_categories_4{
     

        }
      }

    .content_nav_categories_new{
    
      .content_nav_coterories_new_item{
       

        .content_nav_categories_new_1{
          
          .more_find_btn{   
           
          }
        }
        .content_nav_categories_new_item_desplay{

        }
        .content_nav_categories_new_2{
          .more_find_btn{
            
          }
        }
        .content_nav_categories_new_item_desplay{
          
        }
        .content_nav_categories_new_3{
          .more_find_btn{
            
          }
        }
        .content_nav_categories_new_item_desplay{
          
        }
        .content_nav_categories_new_4{
          .more_find_btn{
            
          }
        }
        .content_nav_categories_new_item_desplay{
          
        }

      }
    }
  }

    .content_nav_bland{
      padding: 56px 0px 30px;
      margin-bottom: 16px;
      text-align: center;
      
      .content_nav_bland_name{
        
       
      }
      .content_nav_bland_item{
       
      

        .content_nav_bland_item_1{

        }
        .content_nav_bland_item_2{

        }
        .content_nav_bland_item_3{

        }
        .content_nav_bland_item_4{

        }
      }
    }

    .content_nav_bland_new{
      
    
      .content_nav_bland_new_item{
       
        .content_nav_bland_new_item_name_1{
          .more_find_btn{

          }
        }
        .content_nav_bland_new_item_desplay{

        }
        .content_nav_bland_new_item_name_2{
          .more_find_btn{
            
          }
        }
        .content_nav_bland_new_item_desplay{
          
        }
        .content_nav_bland_new_item_name_3{
          .more_find_btn{
            
          }
        }
        .content_nav_bland_new_item_desplay{
          
        }
        .content_nav_bland_new_item_name_4{
          .more_find_btn{
            
          }
        }
        .content_nav_bland_new_item_desplay{
          
        }
       } 
    }

  }

}













  







